
footer#colophon.site-footer(itemtype='https://schema.org/WPFooter' itemscope='itemscope' itemid='#colophon')
    .site-primary-footer-wrap.ast-builder-grid-row-container.site-footer-focus-item.ast-builder-grid-row-4-lheavy.ast-builder-grid-row-tablet-4-equal.ast-builder-grid-row-mobile-full.ast-footer-row-stack.ast-footer-row-tablet-stack.ast-footer-row-mobile-stack(data-section='section-primary-footer-builder')
      .ast-builder-grid-row-container-inner
        .ast-builder-footer-grid-columns.site-primary-footer-inner-wrap.ast-builder-grid-row
          .site-footer-primary-section-1.site-footer-section.site-footer-section-1
            aside.footer-widget-area.widget-area.site-footer-focus-item.footer-widget-area-inner(data-section='sidebar-widgets-footer-widget-1' aria-label='Footer Widget 1')
              section#text-2.widget.widget_text
                h2.widget-title GI&#x1EDA;I THI&#x1EC6;U
                |  
                .textwidget
                  p
                    img.alignnone.size-medium.wp-image-27(decoding='async' src="/dist/img/logo.png" alt='' data-lazy-srcset='/dist/img/logo-keonhacaiDEMOorg-300x56.png 300w, /dist/img/logo-keonhacaiDEMOorg-246x46.png 246w, /dist/img/logo-keonhacaiDEMOorg.png 445w' data-lazy-sizes='(max-width: 300px) 100vw, 300px' data-lazy-src='/dist/img/logo-keonhacaiDEMOorg-300x56.png' width='300' height='56')
                    noscript
                      img.alignnone.size-medium.wp-image-27(decoding='async' src='/dist/img/logo-keonhacaiDEMOorg-300x56.png' alt='' srcset='/dist/img/logo-keonhacaiDEMOorg-300x56.png 300w, /dist/img/logo-keonhacaiDEMOorg-246x46.png 246w, /dist/img/logo-keonhacaiDEMOorg.png 445w' sizes='(max-width: 300px) 100vw, 300px' width='300' height='56')
                  p
                    //- | KeonhacaiDEMO.org &ndash; H&#x1B0;&#x1EDB;ng d&#x1EAB;n &dstrok;&#x1ECD;c t&#x1EF7; l&#x1EC7; k&egrave;o nh&agrave; c&aacute;i DEMO, c&#x1EAD;p nh&#x1EAD;t l&#x1ECB;ch thi &dstrok;&#x1EA5;u, b&#x1EA3;ng x&#x1EBF;p h&#x1EA1;ng b&oacute;ng &dstrok;&aacute; m&#x1EDB;i nh&#x1EA5;t
                  #shorten-m-btn.shorten-m-btn.text-center
                  p
                    //- script(src='./FE/js/m_bt_sp.js')
              section#custom_html-2.widget_text.widget.widget_custom_html
                .textwidget.custom-html-widget
                  #shorten-btn-wrap-id.shorten-btn-wrap
                    .shorten-link-wrap.shorten-link-wrap--hidden
                      a.shorten-link(href='/bang-xep-hang/' target='_blank' rel='noopener') b&#x1EA3;ng x&#x1EBF;p h&#x1EA1;ng b&oacute;ng &dstrok;&aacute; 
                      a.shorten-link(href='/lich-bong-da-hom-nay/' target='_blank' rel='noopener') l&#x1ECB;ch thi &dstrok;&#x1EA5;u b&oacute;ng &dstrok;&aacute; 
                      a.shorten-link(href='/ket-qua-bong-da/' target='_blank' rel='noopener') K&#x1EBF;t qu&#x1EA3; b&oacute;ng &dstrok;&aacute;
                    #shorten-btn-special-mul.shorten-btn-special-mul.text-center
                  //- script(src='./FE/js/bt-wp-mul.js')
          .site-footer-primary-section-2.site-footer-section.site-footer-section-2
            aside.footer-widget-area.widget-area.site-footer-focus-item.footer-widget-area-inner(data-section='sidebar-widgets-footer-widget-2' aria-label='Footer Widget 2')
              section#nav_menu-3.widget.widget_nav_menu
                h2.widget-title DANH M&#x1EE4;C
                nav.menu-main-menu-container(aria-label='DANH MỤC')
                  ul#menu-main-menu.menu
                    li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-home.current-menu-item.page_item.page-item-2.current_page_item.menu-item-268
                      a.menu-link(href='/' aria-current='page') Trang chủ
                    li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-454
                      a.menu-link(href='/ket-qua-bong-da') K&#x1EBF;t Qu&#x1EA3; B&oacute;ng &Dstrok;&aacute;
                    li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-455
                      a.menu-link(href='/lich-bong-da-hom-nay') L&#x1ECB;ch B&oacute;ng &Dstrok;&aacute;
                    li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-456
                      a.menu-link(href='/bang-xep-hang') B&#x1EA3;ng X&#x1EBF;p H&#x1EA1;ng
                    li.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-21
                      a.menu-link(href='/tin-tuc') Tin T&#x1EE9;c
          .site-footer-primary-section-3.site-footer-section.site-footer-section-3
            aside.footer-widget-area.widget-area.site-footer-focus-item.footer-widget-area-inner(data-section='sidebar-widgets-footer-widget-3' aria-label='Footer Widget 3')
              section#nav_menu-7.widget.widget_nav_menu
                h2.widget-title TH&Ocirc;NG TIN
                nav.menu-menu-footer-container(aria-label='THÔNG TIN')
                  ul#menu-menu-footer.menu
                    li#menu-item-290.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-290
                      a.menu-link(href='/gioi-thieu/') Gi&#x1EDB;i Thi&#x1EC7;u
                    li#menu-item-289.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-289
                      a.menu-link(href='/lien-he/') Li&ecirc;n H&#x1EC7;
                    li#menu-item-291.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-privacy-policy.menu-item-291
                      a.menu-link(rel='privacy-policy' href='/chinh-sach-bao-mat/') Ch&iacute;nh S&aacute;ch B&#x1EA3;o M&#x1EAD;t
          .site-footer-primary-section-4.site-footer-section.site-footer-section-4
            aside.footer-widget-area.widget-area.site-footer-focus-item.footer-widget-area-inner(data-section='sidebar-widgets-footer-widget-4' aria-label='Footer Widget 4')
              section#text-5.widget.widget_text
                h2.widget-title LI&Ecirc;N H&#x1EC6;
                |  
                .textwidget
                  p Tổ 2 Vĩnh Điềm Trung - Vĩnh Hiệp - Tp Nha Trang - Khánh Hoà
                  p
                    i.fa.fa-phone
                    | &nbsp;S&Dstrok;T: 0792062973
                  p
                    i.fa.fa-globe
                    | &nbsp;Website: 
                    a(href='/') arthurcompany.com
                  p
                    i.fa.fa-envelope
                    | &nbsp;Email: arthurcompany@gmail.com
    .site-below-footer-wrap.ast-builder-grid-row-container.site-footer-focus-item.ast-builder-grid-row-full.ast-builder-grid-row-tablet-full.ast-builder-grid-row-mobile-full.ast-footer-row-stack.ast-footer-row-tablet-stack.ast-footer-row-mobile-stack(data-section='section-below-footer-builder')
      .ast-builder-grid-row-container-inner
        .ast-builder-footer-grid-columns.site-below-footer-inner-wrap.ast-builder-grid-row
          .site-footer-below-section-1.site-footer-section.site-footer-section-1
            .ast-builder-layout-element.ast-flex.site-footer-focus-item.ast-footer-copyright(data-section='section-footer-builder')
              .ast-footer-copyright
                p
                  | &copy; Copyright 2023 by 
                  a(href='/') arthurcompany.com
                  |  | 
                  a(href='https://arthurcompany.com/') arthurcompany