
header#masthead.site-header.header-main-layout-1.ast-primary-menu-enabled.ast-hide-custom-menu-mobile.ast-builder-menu-toggle-icon.ast-mobile-header-inline(itemtype='https://schema.org/WPHeader' itemscope='itemscope' itemid='#masthead')
  #ast-desktop-header(data-toggle-type='dropdown')
    .ast-above-header-wrap
      .ast-above-header-bar.ast-above-header.site-header-focus-item(data-section='section-above-header-builder')
        .site-above-header-wrap.ast-builder-grid-row-container.site-header-focus-item.ast-container(data-section='section-above-header-builder')
          .ast-builder-grid-row.ast-grid-center-col-layout-only.ast-flex.ast-grid-center-col-layout
            .site-header-above-section-center.site-header-section.ast-flex.ast-grid-section-center
              .ast-builder-layout-element.ast-flex.site-header-focus-item(data-section='title_tagline')
                .site-branding.ast-site-identity
                  span.site-logo-img
                    a.custom-logo-link(href='/' rel='home' aria-current='page')
                      img.custom-logo.entered.lazyloaded(src='/dist/img/logo.png' alt='' decoding='async' data-lazy-srcset='/dist/img/logo.png 300w, /dist/img/logo.png 445w' data-lazy-sizes='(max-width: 246px) 100vw, 246px' data-lazy-src='/dist/img/logo.png' data-ll-status='loaded' sizes='(max-width: 246px) 100vw, 246px' srcset='/dist/img/logo.png 445w' width='246' height='46')
                      noscript
                        img.custom-logo(src='/dist/img/logo.png' alt='' decoding='async' srcset='/dist/img/logo.png 246w, /dist/img/logo.png 300w, /dist/img/logo.png 445w' sizes='(max-width: 246px) 100vw, 246px' width='246' height='46')
                  .ast-site-title-wrap
                    h1.site-title(itemprop='name')
                      a(href='/' rel='home' itemprop='url')
                    p.site-description(itemprop='description')
    .ast-main-header-wrap.main-header-bar-wrap
      .ast-primary-header-bar.ast-primary-header.main-header-bar.site-header-focus-item(data-section='section-primary-header-builder')
        .site-primary-header-wrap.ast-builder-grid-row-container.site-header-focus-item.ast-container(data-section='section-primary-header-builder')
          .ast-builder-grid-row.ast-grid-center-col-layout-only.ast-flex.ast-grid-center-col-layout
            .site-header-primary-section-center.site-header-section.ast-flex.ast-grid-section-center
              .ast-builder-menu-1.ast-builder-menu.ast-flex.ast-builder-menu-1-focus-item.ast-builder-layout-element.site-header-focus-item(data-section='section-hb-menu-1')
                .ast-main-header-bar-alignment
                  .main-header-bar-navigation
                    nav#primary-site-navigation.site-navigation.ast-flex-grow-1.navigation-accessibility.site-header-focus-item(aria-label='Site Navigation' itemtype='https://schema.org/SiteNavigationElement' itemscope='itemscope')
                      .main-navigation.ast-inline-flex
                        ul#ast-hf-menu-1.main-header-menu.ast-menu-shadow.ast-nav-menu.ast-flex.submenu-with-border.stack-on-mobile(aria-expanded='false')
                          li#menu-item-454.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-454
                            a.menu-link(href='/ket-qua-bong-da/') K&#x1EBF;t Qu&#x1EA3; B&oacute;ng &Dstrok;&aacute;
                          li#menu-item-455.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-455
                            a.menu-link(href='/lich-bong-da-hom-nay/') L&#x1ECB;ch B&oacute;ng &Dstrok;&aacute;
                          li#menu-item-456.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-456
                            a.menu-link(href='/bang-xep-hang/') B&#x1EA3;ng X&#x1EBF;p H&#x1EA1;ng
                          li#menu-item-457.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-457
                            a.menu-link(href='/ket-qua-tt/') Kết quả trực tuyến
                          li#menu-item-21.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-21
                            a.menu-link(href='/tin-tuc/') Tin T&#x1EE9;c
                          li#menu-item-21.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-21
                            a.menu-link(href='/lich-am-hom-nay/') Lịch âm hôm nay
    .ast-below-header-wrap
      .ast-below-header-bar.ast-below-header.site-header-focus-item(data-section='section-below-header-builder')
        .site-below-header-wrap.ast-builder-grid-row-container.site-header-focus-item.ast-container(data-section='section-below-header-builder')
          .ast-builder-grid-row.ast-grid-center-col-layout-only.ast-flex.ast-grid-center-col-layout
            .site-header-below-section-center.site-header-section.ast-flex.ast-grid-section-center
              .ast-builder-menu-2.ast-builder-menu.ast-flex.ast-builder-menu-2-focus-item.ast-builder-layout-element.site-header-focus-item(data-section='section-hb-menu-2')
                .ast-main-header-bar-alignment
                  .main-header-bar-navigation
                    nav#secondary_menu-site-navigation.site-navigation.ast-flex-grow-1.navigation-accessibility.site-header-focus-item(aria-label='Site Navigation' itemtype='https://schema.org/SiteNavigationElement' itemscope='itemscope')
                      .main-navigation.ast-inline-flex
                        ul#ast-hf-menu-2.main-header-menu.ast-menu-shadow.ast-nav-menu.ast-flex.submenu-with-border.stack-on-mobile
                          li#menu-item-782.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-782
                            a.menu-link(href='/bang-xep-hang/')
                              i.fa.fa-sort-amount-up-alt
                              |  B&#x1EA3;ng x&#x1EBF;p h&#x1EA1;ng
                          li#menu-item-780.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-780
                            a.menu-link(href='/lich-bong-da-hom-nay/')
                              i.fa.fa-futbol
                              |  L&#x1ECB;ch thi &dstrok;&#x1EA5;u
                          li#menu-item-781.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-781
                            a.menu-link(href='/ket-qua-bong-da/')
                              i.fa.fa-play-circle
                              |  K&#x1EBF;t Qu&#x1EA3; B&oacute;ng &Dstrok;&aacute;

    .ast-desktop-header-content.content-align-flex-start
  |  
  #ast-mobile-header.ast-mobile-header-wrap(data-type='dropdown')
    .ast-main-header-wrap.main-header-bar-wrap
      .ast-primary-header-bar.ast-primary-header.main-header-bar.site-primary-header-wrap.site-header-focus-item.ast-builder-grid-row-layout-default.ast-builder-grid-row-tablet-layout-default.ast-builder-grid-row-mobile-layout-default(data-section='section-primary-header-builder')
        .ast-builder-grid-row.ast-builder-grid-row-has-sides.ast-builder-grid-row-no-center
          .site-header-primary-section-left.site-header-section.ast-flex.site-header-section-left
            .ast-builder-layout-element.ast-flex.site-header-focus-item(data-section='title_tagline')
              .site-branding.ast-site-identity(itemtype='https://schema.org/Organization' itemscope='itemscope')
                span.site-logo-img
                  a.custom-logo-link(href='/' rel='home' aria-current='page')
                    img.custom-logo(src="/dist/img/logo.png" alt='' decoding='async' data-lazy-srcset='/dist/img/logo.png 246w, /dist/img/logo.png 300w, /dist/img/logo.png 445w' data-lazy-sizes='(max-width: 246px) 100vw, 246px' data-lazy-src='/dist/img/logo.png' width='246' height='46')
                    noscript
                      img.custom-logo(src='/dist/img/logo.png' alt='' decoding='async' srcset='/dist/img/logo.png 246w, /dist/img/logo.png 300w, /dist/img/logo.png 445w' sizes='(max-width: 246px) 100vw, 246px' width='246' height='46')
                .ast-site-title-wrap
                  span.site-title(itemprop='name')
                    a(href='/' rel='home' itemprop='url')
                  p.site-description(itemprop='description')
          .site-header-primary-section-right.site-header-section.ast-flex.ast-grid-right-section
            .ast-builder-layout-element.ast-flex.site-header-focus-item(data-section='section-header-mobile-trigger')
              .ast-button-wrap
                button.menu-toggle.main-header-menu-toggle.ast-mobile-menu-trigger-outline(type='button' aria-expanded='false' data-index='0')
                  span.screen-reader-text Main Menu
                  span.mobile-menu-toggle-icon
                    span.ahfb-svg-iconset.ast-inline-flex.svg-baseline
                      svg.ast-mobile-svg.ast-menu2-svg(fill='currentColor' version='1.1' xmlns='http://www.w3.org/2000/svg' width='24' height='28' viewBox='0 0 24 28')
                        path(d='M24 21v2c0 0.547-0.453 1-1 1h-22c-0.547 0-1-0.453-1-1v-2c0-0.547 0.453-1 1-1h22c0.547 0 1 0.453 1 1zM24 13v2c0 0.547-0.453 1-1 1h-22c-0.547 0-1-0.453-1-1v-2c0-0.547 0.453-1 1-1h22c0.547 0 1 0.453 1 1zM24 5v2c0 0.547-0.453 1-1 1h-22c-0.547 0-1-0.453-1-1v-2c0-0.547 0.453-1 1-1h22c0.547 0 1 0.453 1 1z')
                    span.ahfb-svg-iconset.ast-inline-flex.svg-baseline
                      svg.ast-mobile-svg.ast-close-svg(fill='currentColor' version='1.1' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24')
                        path(d='M5.293 6.707l5.293 5.293-5.293 5.293c-0.391 0.391-0.391 1.024 0 1.414s1.024 0.391 1.414 0l5.293-5.293 5.293 5.293c0.391 0.391 1.024 0.391 1.414 0s0.391-1.024 0-1.414l-5.293-5.293 5.293-5.293c0.391-0.391 0.391-1.024 0-1.414s-1.024-0.391-1.414 0l-5.293 5.293-5.293-5.293c-0.391-0.391-1.024-0.391-1.414 0s-0.391 1.024 0 1.414z')
    .ast-below-header-wrap
      .ast-below-header-bar.ast-below-header.site-below-header-wrap.site-header-focus-item.ast-builder-grid-row-layout-default.ast-builder-grid-row-tablet-layout-default.ast-builder-grid-row-mobile-layout-default(data-section='section-below-header-builder')
        .ast-builder-grid-row.ast-grid-center-col-layout-only.ast-flex.ast-grid-center-col-layout
          .site-header-below-section-center.site-header-section.ast-flex.ast-grid-section-center
            .ast-builder-menu-2.ast-builder-menu.ast-flex.ast-builder-menu-2-focus-item.ast-builder-layout-element.site-header-focus-item(data-section='section-hb-menu-2')
              .ast-main-header-bar-alignment
                .main-header-bar-navigation
                  nav#secondary_menu-site-navigation.site-navigation.ast-flex-grow-1.navigation-accessibility.site-header-focus-item(aria-label='Site Navigation' itemtype='https://schema.org/SiteNavigationElement' itemscope='itemscope')
                    .main-navigation.ast-inline-flex
                      ul#ast-hf-menu-2.main-header-menu.ast-menu-shadow.ast-nav-menu.ast-flex.submenu-with-border.stack-on-mobile
                        li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-782
                          a.menu-link(href='/bang-xep-hang/')
                            i.fa.fa-sort-amount-up-alt
                            |  B&#x1EA3;ng x&#x1EBF;p h&#x1EA1;ng
                        li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-780
                          a.menu-link(href='/lich-bong-da-hom-nay/')
                            i.fa.fa-futbol
                            |  L&#x1ECB;ch thi &dstrok;&#x1EA5;u
                        li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-781
                          a.menu-link(href='/ket-qua-bong-da/')
                            i.fa.fa-play-circle
                            |  K&#x1EBF;t Qu&#x1EA3; B&oacute;ng &Dstrok;&aacute;
    .ast-mobile-header-content.content-align-flex-start
      .ast-builder-menu-mobile.ast-builder-menu.ast-builder-menu-mobile-focus-item.ast-builder-layout-element.site-header-focus-item(data-section='section-header-mobile-menu')
        .ast-main-header-bar-alignment
          .main-header-bar-navigation
            nav#ast-mobile-site-navigation.site-navigation.ast-flex-grow-1.navigation-accessibility.site-header-focus-item(aria-label='Site Navigation' itemtype='https://schema.org/SiteNavigationElement' itemscope='itemscope')
              .main-navigation
                ul#ast-hf-mobile-menu.main-header-menu.ast-nav-menu.ast-flex.submenu-with-border.astra-menu-animation-fade.stack-on-mobile
                  li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-home.current-menu-item.page_item.page-item-2.current_page_item.menu-item-268
                    a.menu-link(href='/' aria-current='page') Trang chủ
                  li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-454
                    a.menu-link(href='/ket-qua-bong-da/') K&#x1EBF;t Qu&#x1EA3; B&oacute;ng &Dstrok;&aacute;
                  li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-455
                    a.menu-link(href='/lich-bong-da-hom-nay/') L&#x1ECB;ch B&oacute;ng &Dstrok;&aacute;
                  li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-456
                    a.menu-link(href='/bang-xep-hang/') B&#x1EA3;ng X&#x1EBF;p H&#x1EA1;ng
                  li.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-21
                    a.menu-link(href='/tin-tuc/') Tin T&#x1EE9;c
                  li.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-21
                    a.menu-link(href='/lich-am-hom-nay/') Lịch âm hôm nay
