doctype html
html
  head
    title #{title}
    link(rel='stylesheet' href='../FE/fontawesome.min.css')
    link(rel="stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")
    link(rel='stylesheet' href='../FE/css/style.css')
    link(rel='stylesheet' href='../FE/css/slider.css')
    link(rel='stylesheet' href='../FE/bootstrap.min.css')
    link(rel='stylesheet' href='../FE/contact-form-7-main.min.css')
    link(rel='stylesheet' href='../FE/css.css')
    link(rel='stylesheet' href='../FE/css2.css')
    link(rel='stylesheet' href='../FE/css3.css')
    link(rel='stylesheet' href='../FE/elementor-icons.min.css')
    link(rel='stylesheet' href='../FE/frontend-lite.min.css')
    link(rel='stylesheet' href='../FE/frontend-lite.min2.css')
    link(rel='stylesheet' href='../FE/global.css')
    link(rel='stylesheet' href='../FE/index.css')
    link(rel='stylesheet' href='../FE/index2.css')
    link(rel='stylesheet' href='../FE/kk-star-ratings.min.css')
    link(rel='stylesheet' href='../FE/main.min.css')
    link(rel='stylesheet' href='../FE/post-537.css')
    link(rel='stylesheet' href='../FE/post-538.css')
    link(rel='stylesheet' href='../FE/solid.min.css')
    link(rel='stylesheet' href='../FE/styles.css')
    link(rel='stylesheet' href='../FE/style1.css')
    link(rel='stylesheet' href='../FE/style2.css')
    link(rel='stylesheet' href='../FE/style3.css')
    link(rel='stylesheet' href='../FE/style4.css')
    link(rel='stylesheet' href='../FE/style5.css')
    link(rel='stylesheet' href='../FE/swiper.min.css')
    link(rel='stylesheet' href='../FE/widget-posts.min.css')
    link(rel='stylesheet' href='../FE/widget-icon-list.min.css')
    script(src='https://unpkg.com/swiper/swiper-bundle.min.js')
    script(src='../FE/js/main.js')
    script(src='../FE/js/jquery.min.js')
    script(src='../FE/js/slider.js')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body.home.page-template-default.page.page-id-2.wp-custom-logo.ast-single-post.ast-replace-site-logo-transparent.ast-inherit-site-logo-transparent.ast-hfb-header.ast-separate-container.ast-two-container.ast-right-sidebar.elementor-default.elementor-kit-538.ast-desktop.e--ua-blink.e--ua-chrome.e--ua-webkit.ast-mouse-clicked(data-rsssl='1' itemtype='https://schema.org/WebPage' itemscope='itemscope' class='astra-3.9.4' style='' data-elementor-device-mode='desktop')
    block header

    block content

    block footer
 

