extend layout

block content
  div.container
    div.container.shadow.p-3.mb-5.bg-white.rounded.login-box
      h2 Sign In
      form(action="/login/auth", method="post", style='padding: 0 50px;')
        div.form-group
          label(for="Username") Username
          input(type="text", class='form-control', name='Username', required)
        div.form-group
          label(for="Password") Password
          input(type="password", class='form-control', name='Password', required)
        button(class='btn btn-primary btn-sm btn-block', type='submit') Login
