extend layout

block header
    include header.pug

block content
    #content.site-content
        .ast-container
            #primary.content-area.primary
                main#main.site-main
                    article#post-2.post-2.page.type-page.status-publish.has-post-thumbnail.ast-article-single
                        header.entry-header.ast-header-without-markup.entry-content.clear
                            h1 Tin tức bóng đá tổng hợp
                            #fullwidthMobi
                                .wrap-keonhacai
                                    .heading_table
                                        hr
                                        h1 #{data.title}
                                        hr
                                        div.allcontent-news 
                                            #{data.content}

            include left-menu.pug


block footer
    include footer.pug