.content {
    height: 1000px;
    display: flex;
    flex-direction: row;
}

.main-content {
    width: 70%;
    height: 100%;
    margin: auto;
}

.left-content {
    width: 25%;
    height: 100%;
    margin: auto;
}

.title-about {
    font-size: 1.3529411764706rem;
    font-weight: 700;
    font-family: Arial, Helvetica, Verdana, sans-serif;
    line-height: 1.2;
    text-transform: none;
}

.search-icon {
    background-image: url('../../dist/img/search-icon-1.png');
}

.news-content{
    width: 90%;
    margin: auto;
    display: flex;
    padding: 10px;
    border-top: 1px solid #000;
}

.news-title{
    font-size: 1.3529411764706rem;
    font-weight: 700;
}
.news-text{
    margin-left: 20px;
    height: 100%;
    width: 100%;
}

.news-thumb {
    width: 13.31rem;
    height: 7.5rem;
}

.news-thumb > img {
    width: 100%;
    height: 100%;
}

.trandau{
    display: flex;
    flex-direction: row;
}

.giaidau{
    display: flex;
    padding: 10px;
    border-top: 1px solid #000;
}
.giaidau > img {
    width: 30px;
    height: 30px;
}