.content {
    height: 1000px;
    display: flex;
    flex-direction: row;
}

.main-content {
    width: 70%;
    height: 100%;
    margin: auto;
}

.left-content {
    width: 25%;
    height: 100%;
    margin: auto;
}

.title-about {
    font-size: 1.3529411764706rem;
    font-weight: 700;
    font-family: Arial, Helvetica, Verdana, sans-serif;
    line-height: 1.2;
    text-transform: none;
}

.search-icon {
    background-image: url('../../dist/img/search-icon-1.png');
}


.trandau {
    display: flex;
    flex-direction: row;
}

.giaidau {
    display: flex;
    padding: 10px;
    border-top: 1px solid #000;
}

.giaidau>img {
    width: 30px;
    height: 30px;
}

.match {
    width: 100%;
    display: flex;
}

.matchtime {
    padding-left: 10px;
    text-align: left;
    width: 30%;
    margin: auto;
}

.trandau {
    display: flex;
    width: 65%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.hometeam {
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    flex-flow: row;
    flex-basis: 100%;
    width: 100%;
    align-items: center;
    color: #000;
    position: relative;
    justify-content: end;
}

.hometeam>img {
    margin-left: 10px;
    margin-right: 10px;
}

.tyso {
    /* flex-basis: 50px; */
    text-align: center;
    margin: 0 8px;
    width: 150px;
}

.tyso>span {
    border-radius: 3px;
    padding: 5px;
    background: #1c53c5;
    color: #fff;
    font-size: .95em;
    font-weight: 500;
    width: 100%;
    display: block;
}

.awayteam {
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
    flex-flow: row;
    flex-basis: 100%;
    width: 100%;
    align-items: center;
    color: #000;
    position: relative;
}

.awayteam>img {
    margin-left: 10px;
    margin-right: 10px;
}

.league-name {
    margin-top: 20px;
}

.data-today {
    padding: 10px;
}

.vncal tbody tr td a div.tot {
    color: red;
}

.vncal tbody tr td a div.xau {
    color: #95149A;
}

.vncal tbody tr td a div.dao {
    /* color: white; */
    font-size: 15px;
    float: right;
    width: 10%;
}

.vncal tbody tr td {
    font-family: Tahoma, Arial;
    cursor: pointer;
}

.vncal tbody tr td a div.sun {
    color: #FF6000;
}

.vncal tbody tr td a div.duong {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    float: left;
    width: 90%;
}

.vncal tbody tr td a div.am {
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    float: right;
    width: 100%;
}

.vncal tbody tr td a {
    color: #000;
}

.sonar-date {
    color: #FF8700;
    font-weight: bold;
    font-size: 20px;
    border: 1px solid #bcccc3;
    padding: 4px 6px 4px 6px;
    letter-spacing: 3px;
    margin-left: 5px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.lunar-date {
    color: #0B730B;
    font-weight: bold;
    font-size: 20px;
    border: 1px solid #bcccc3;
    padding: 4px 6px 4px 6px;
    letter-spacing: 3px;
    margin-left: 5px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.news-place {
    width: 100%;
}

.news-content {
    width: 50%;
    margin: auto;
    display: flex;
    padding: 10px;
    border-top: 1px solid #000;
    float: left;
    height: 200px;
}

.news-title {
    margin-top: 10px;
    font-size: 1.1rem;
    font-weight: 600;
}

.news-title a {
    color: #333;
    text-decoration: none !important;
    transition: color 0.5s ease-in-out;
}

.news-text {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.news-thumb {
    width: 15.31rem;
    height: 9.5rem;
    margin: auto;
}

.news-thumb>img {
    width: 100%;
    height: 100%;
}

.news-time {
    text-align: right;
}

#date_select {
    display: flex;
    justify-content: space-between;
}

.date-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 20%;
    cursor: pointer;
}
.date-info:hover{
    color: #fff !important;
    background-color: #1c53c5 !important;
}
.date-info:hover .dayofweek{
    color: #fff !important;
}

.date-info.active{
    color: #fff !important;
    background-color: #1c53c5 !important;
}
.date-info.active .dayofweek{
    color: #fff !important;
}



.dateis {
    width: 100%;
    display: block;
    font-size: .95em;
}

.dayofweek {
    font-size: 1.2em;
    color: #1c53c5;
    font-weight: 600;
}